---
import ArrowDown from '../assets/icons/ArrowDown.astro';
import Logo from '../components/Logo.astro';
import Layout from '../layouts/Layout.astro';
import { Code } from "@astrojs/starlight/components"
import {getAllProducts} from "../lib/productResponseExample"
const Notes = await Astro.glob("../contents/docs/homePage/Notes.mdx")

const exampleCode = "const response = await fetch('/api/Product?PageSize=3&PageNumber=1')"
const fileName = "home.tsx"
const highlights = ['http', "response"];

---
<Layout title="Fake Rubik Store Docs">
	<main class="main bg-raising-black w-full h-full max-w-[1200px] mx-auto flex flex-col justify-start items-center text-babyPowder font-mono">
		<section class="w-full h-screen flex flex-col justify-start items-center gap- px-4 py-2">
			<div class="flex flex-col justify-start items-center h-3/4 w-full gap-1">
				<Logo class="fill-babyPowder w-80" />
				<h1 class="text-4xl font-bold text-pretty text-center">Fake Rubik Store Docs</h1>
			</div>
			<ArrowDown class="fill-redWood w-20 animate-bounce" />
		</section>
		<div class="flex flex-col justify-center items-start gap-2">
			<h2 class="text-2xl font-semibold font-mono text-pretty">
				Ejemplo de solicitud
			</h2>
			<Code code={exampleCode} lang='ts' title={fileName} mark={highlights} class='bg-black'/>
			<strong class="text-md text-balance">Respuesta</strong>
			<Code code={getAllProducts} lang="json" title='home.tsx' mark={["response 200", "http response"]} class="bg-black" />
		</div>
		<div class="flex flex-col justify-evenly items-center">
			{
				Notes.map(Note => Note.components)
			}
		</div>
	</main>
</Layout>

